@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

body {
	margin: 0;
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color: #003020;
	color: #fafafa;
	font-family: 'Lato', sans-serif;
}

h1 {
	margin: 10px;
}

.App {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	font-family: 'Lato', sans-serif;
}
